{% extends "_base.html" %}

{% block content %}
<form method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    <div>
        {{ form.cats_answer.label() }}
    </div>
    <div>
        {{ form.cats_answer() }}
    </div>
    <div>
        {% for error in form.cats_answer.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.prog_answer.label() }}
    </div>
    <div>
        {{ form.prog_answer() }}
    </div>
    <div>
        {% for error in form.prog_answer.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}